@import "../../../../../../shared/mixins.scss";

.tariff {
  height: 547px;
  max-width: 303px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  @include fontNormal;
}

.tariff-nvme {
  background: #E0F6FC;
}

.tariff-hdd {
  background: #C4EBF8;
}

.tariff-turbo {
  background: #ECFDF7;
}

.tariff__top {
  display: flex;
  align-items: center;
  margin-top: 20px;
  height: 25px;
}

.tariff__ico {
  @include size(25px, 25px);
}

.tariff__title {
  @include fontSmall;
  margin-left: 16px;
  height: 12px;
}

.tariff__cost {
  @include fontVeryBig;
  margin-top: 14px;
  color: #000000;
}

.tariff__power {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include fontSmall;
  color: #62686C;
  margin-top: 18px;
}

.tariff__power-number {
  @include fontNormal;
  color: #000000;
}

.tariff__text-select {
  @include fontSmall;
  margin-top: 20px;
  color: #62686C;
}

.tariff__select {
  margin-top: 8px;
}

.tariff__bonus {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.tariff__bonus-ico {
  @include size(16px, 16px);
  margin-right: 16px;
}

.tariff__bonus-text {
  @include fontSmall;
}

.tariff__main-button {
  @include size(100%, 36px);
  background: #3DBDF6;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  margin-top: 20px;
  cursor: pointer;
}

.tariff__button-text {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .tariff {
    width: calc(232px - 40px);
    max-width: calc(232px - 40px);
  }

  .tariff__main-button {
    width: 167px;
    margin-left: auto;
    margin-right: auto;
  }
}