@import "../../../../shared/mixins.scss";

.footer {
  position: relative;
  bottom: 0;
  @include size(calc(100% - 16px), 210px);
  background-color: #F5F5F5;
  @include fontSmall;
  padding-top: 20px;
  padding-left: 16px;
  z-index: 3;
}

.footer__text-blue {
  color: #3DBDF6;
}

.footer__app {
  margin-top: 20px;
}

.footer__link-img {
  margin-top: 5px;
}

.footer__buttons-img:nth-child(1) {
  margin-right: 5px;
}

.footer__text-numbers {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .footer {
    @include size(calc(100% - 40px), 150px);
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: 1fr auto;
    grid-template-rows: 65px 50px;
  }

  .footer__app {
    width: 254px;
    margin-top: 0;
  }

  .footer__text-numbers {
    margin-top: 0;
  }

  .footer__buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    @include size(calc(100% - 40px), 80px);
    display: flex;
    justify-content: space-between;
  }

  .footer__app {
    display: flex;
    flex-direction: column;
  }
  
  .footer__text-numbers {
    display: flex;
    flex-direction: column;
    width: 240px;
  }
}